<?php //-->
use \Eden\Handlebars\Data as Data;
use \Eden\Handlebars\Runtime as Runtime;

return function($data = array()) {
    $noop = function() {};
    $context = $data = new Data($data);
    $helper = Runtime::getHelpers();

    $buffer = ''; 
%s
    return $buffer;
};
