<?php
//declare(strict_types=1);

use MattyG\Handlebars\Data;
use MattyG\Handlebars\Template;

class %1$s extends Template
{
    /**
     * @param Data $data
     * @return string The rendered template
     */
    protected function _render(Data $data) : string
    {
        $buffer = "";

%2$s

        return $buffer;
    }
}
